<!-- Studies and skills -->
<div id="hobbies">
  <br>
  <h1 class="centrado title">
    <strong>Sports</strong>
  </h1>
  <br>
  <div style="font-size: 18px">
  I don't know what to do in this section honestly XD. Maybe upload photos?? I will decide in future.


  <!--
  <div class="col-lg-4">
    <span class="hobbytitle"> Warhammers </span><br>
    <a rel="noopener" [routerLink]= "['/hobby/hobby6']" [routerLinkActive]="['menuitemelementselected']">
      <img class="image fit" src="assets/images/hobby_warhammers.jpg" alt=""/>
    </a>
  </div>-->
</div>
