<!-- Studies and skills -->
<div id="studiesskills">
  <br>
  <h1 class="centrado title">
    <strong>Studies and skills</strong>
  </h1>
  <br>
  <div style="font-size: 18px">
    <p> I will list here all my studies, courses and skills that I consider to be relevant. </p>
  </div>
  <br>
  <br>

  <!-- Main studies -->
  <div class="row">
    <div class="col-lg-12">
      <h4 class="experiencetitle">Main studies</h4>
      <br>
      <div class="row" id="major_studies_3">
        <div class="col-lg-9"><span>Computer Vision Nanodegree  - </span> <span><em> Udacity </em></span></div>
        <div class="col-lg-3 date"><em> August 2020 - November 2020</em></div>
      </div>
      <div class="row" id="major_studies_2">
        <div class="col-lg-9"><span>Computer Engineering  - </span> <span><em> University of Malaga </em></span></div>
        <div class="col-lg-3 date"><em> Sept 2011 - Feb 2017 </em></div>
      </div>      
      <div class="row" id="major_studies_1">
        <div class="col-lg-9"><span>Industrial Engineering  - </span> <span><em> University of Malaga </em></span></div>
        <div class="col-lg-3 date"><em> Sept 2009 - Jun 2011 </em></div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <!-- Courses -->
  <div class="row">
    <div class="col-lg-12">
      <h4 class="experiencetitle">Courses</h4>
      <br>
      <div class="row" id="courses_15">
        <div class="col-lg-9"><span> Complete guide to ASP.NET Core MVC (v3.1) - </span> <span ><em> Udemy </em></span></div>
        <div class="col-lg-3 date"><em> Fall 2020 </em></div>
      </div>
      <div class="row" id="courses_14">
        <div class="col-lg-9"><span> Full Stack: Angular and Spring Boot - </span> <span ><em> Udemy </em></span></div>
        <div class="col-lg-3 date"><em> Summer 2020 </em></div>
      </div>
      <div class="row" id="courses_13">
        <div class="col-lg-9"><span> Spring and Hibernate for Beginners (includes Spring Boot) - </span> <span ><em> Udemy </em></span></div>
        <div class="col-lg-3 date"><em> Spring 2020 </em></div>
      </div>
      <div class="row" id="courses_12">
        <div class="col-lg-9"><span> SQL Server 70 461, 761 - </span> <span ><em> Udemy </em></span></div>
        <div class="col-lg-3 date"><em> Winter 2020 </em></div>
      </div>
      <div class="row" id="courses_11">
        <div class="col-lg-9"><span> Unreal Engine Blueprint Developer: Learn Visual Scripting - </span> <span ><em> Udemy </em></span></div>
        <div class="col-lg-3 date"><em> Fall 2019 </em></div>
      </div>
      <div class="row" id="courses_11">
        <div class="col-lg-9"><span> Angular 6 - desde 0 hasta profesional  - </span> <span ><em> Udemy </em></span></div>
        <div class="col-lg-3 date"><em> Fall 2018 </em></div>
      </div>
      <div class="row" id="courses_10">
        <div class="col-lg-9"><span > How to use Git and GitHub  - </span> <span ><em> Udacity </em></span></div>
        <div class="col-lg-3 date"><em> Summer 2018 </em></div>
      </div>
      <div class="row" id="courses_9">
        <div class="col-lg-9"><span >A 18 Hour SQL/SQL Server 2014/Visual Studio 2017  - </span> <span ><em> Udemy </em></span></div>
        <div class="col-lg-3 date"><em> Spring 2018 </em></div>
      </div>
      <div class="row" id="courses_8">
        <div class="col-lg-9"><span >Java EE  - </span> <span ><em> Viewnext </em></span></div>
        <div class="col-lg-3 date"><em> Summer 2017 </em></div>
      </div>
      <div class="row" id="courses_7">
        <div class="col-lg-9"><span >Programación en Android con Android Studio  - </span> <span ><em> Viewnext </em></span></div>
        <div class="col-lg-3 date"><em> Summer 2017 </em></div>
      </div>
      <div class="row" id="courses_6">
        <div class="col-lg-9"><span >Intro to HTML and CSS  - </span> <span ><em> Udacity </em></span></div>
        <div class="col-lg-3 date"><em> Spring 2017 </em></div>
      </div>
      <div class="row" id="courses_5">
        <div class="col-lg-9"><span >Introduction to Python  - </span> <span ><em> Udacity </em></span></div>
        <div class="col-lg-3 date"><em> Spring 2017 </em></div>
      </div>
      <div class="row" id="courses_4">
        <div class="col-lg-9"><span >Android Apps Development Course  - </span> <span ><em> Samsung Tech Institute, Malaga </em></span></div>
        <div class="col-lg-3 date"><em> Fall 2016 </em></div>
      </div>
      <div class="row" id="courses_3">
        <div class="col-lg-9"><span >Developing Android Apps  - </span> <span ><em> Udacity </em></span></div>
        <div class="col-lg-3 date"><em> Summer 2016 </em></div>
      </div>
      <div class="row" id="courses_2">
        <div class="col-lg-9"><span >Building of a PC Course  - </span> <span ><em> University of Malaga, Manuel Ujaldón </em></span></div>
        <div class="col-lg-3 date">Summer 2014</div>
      </div>
      <div class="row" id="courses_1">
        <div class="col-lg-9"><span >LaTeX Course  - </span> <span ><em> University of Malaga, David Santo Orcero </em></span></div>
        <div class="col-lg-3 date"><em> Spring 2014 </em></div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <!-- Skills -->
  <div class="row">
    <div class="col-lg-12">
      <h4 class="experiencetitle">Skills</h4>
      <br>
      <span>Languages: </span>
      <span>Spanish <em>(native)</em>, English <em>(B2 Cambridge, 88 TOEFL)</em>, Korean <em>(TOPIK 1)</em>.</span>
      <br>
      <br>
      <div class="row" id="skills_1">
        <div class="col-lg-4">
          <span >Specialized in: </span>
          SQL, Java, Spring, C#, OOP, back-end, Computer vision, Angular, Robotics, Android, Web development, artificial intelligence, Delphi, ERP.
        </div>
        <div class="col-lg-4">
          <span >Knowledge in: .</span>
          Front-end Web (HTML, CSS, Typescript), RPA (Blueprism, WinAutomation, UIPath),
          C++, Python, ASP.NET, Java EE, Git, GitHub, Postman, Maven.
        </div>
        <div class="col-lg-4">
          <span >Medium knowledge in: </span>
          C, Matlab, Microsoft Office, Haskell, Functional programming, LaTeX.
        </div>
      </div>
    </div>
  </div>
</div>
