<br>
<h1 class="centrado title">
  <strong>Welcome to my website</strong>
</h1>
<br>
<div style="font-size: 18px">
  <p>My name is Guillermo Siles Bonilla, I am a fullstack developer currently living in Málaga.

  <p>I enjoy software development and working on projects, particularly if they are related to my favorites fields in computer science.
  I have worked in a lot of different projects through my career, with different technologies.
  Because of that I acquired the ability to adapt quickly to new languages, frameworks... and that is why this may be my biggest strength.
  I have done ERP, web, app, RPA and computer vision projects, among others. At the same time I also visited and/or spoke with our clients,
  explaining how our product works, answering questions and explaining anything they need to know.

  <p>Currently I live in Málaga, but I am always open to start a new life anywhere in the world.
  I have also lived in South Korea for 7 months and the experience was great, so I am eager to repeat such an adventure.

</div>
