<br>
<h1 class="centrado title">
  <strong>Welcome to my website</strong>
</h1>
<br>
<div style="font-size: 18px">
  <p>My name is Guillermo Siles Bonilla, I am a 27 years old software developer. I have recently come back to Málaga from South Korea, and I am actively looking for a job.
  I enjoy software development and being part of projects, particularly if they are related to my favorites fields in computer science.
  <p> Since I was a child I liked to play strategy games and videogames, so lately I have been learning how to design videogames and landscapes for them on my own with Unreal Engine and C++. I also have been working in different android projects and courses and all this helped me to become a decent android developer. I am also interested in other fields like Web developing or artificial intelligence, and currently thinking about starting studying physics, as I really like to study and keep learning new things in my free time.</p>
</div>
