<!-- Experience -->
<div id="projects">
  <br>
  <h1 class="centrado title">
    <strong>Projects</strong>
  </h1>
  <br>
  <div style="font-size: 18px">
    <p> I enjoy learning new technologies, and I usually try to learn them through personal projects which I do in my free time.
    Here is a list of the most important ones. </p>
  </div>
  <br>

  <!-- Index project -->
  <div class="row">
    <div class="col-lg-4">
      <img id="indeximagen" class="projectimagen" src="assets/indexproject.jpg"/>
    </div>
    <div class="col-lg-8">
      <a rel="noopener" [routerLink]= "['/projects/projectIndex']">
        <h4 class="experiencetitle"> Index </h4>
      </a>
      <span class="date"><em>March 2018 - Now </em></span>
      <br>
      <br>
      This is an app I am developing for my own use. I love to learn new languages and I needed an app which allows me to store
      the new vocabulary I just learnt. After that I decided to develop the app, so I designed a tool to study the vocabulary stored in
      an efficient way.

    </div>
  </div>
  <br>
  <br>

  <!-- Go project -->
  <div class="row">
    <div class="col-lg-8">
      <a rel="noopener" [routerLink]= "['/projects/projectGo']">
        <h4 class="experiencetitle"> Recording of a Go Game through computer vision </h4>
      </a>
      <span class="date"><em>June 2016 - March 2017</em></span>
      <br>
      <br>
      This is my final project for my computer science degree. It is an Android app that automatically identifies
      and record moves played during a Go Game through computer vision techniques. The App can record an entire Go
      game between two players lasting 1 – 2 hours, depending on the battery quality. I had a final mark of 9.3 / 10.
    </div>
    <div class="col-lg-4">
      <img id="novaeexp" class="experienceimage" src="assets/goproject.jpg"/>
    </div>
  </div>

  <br>
  <br>

  <!-- Web project -->
  <div class="row">
    <div class="col-lg-12">
      <h4 class="experiencetitle">My own website</h4>
      <br>
      <br>
      I wanted to learn how to manage a server, web content and so on. I did not learn anything about this in my degree so
      I had a feeling that I lacked a lot of knowledge on this area. Finally I started this project in which I will try to
      make new content and try new technology related to web development. I would like it to have two main parts:
      First my description and curriculum, along with all data related to it, and second my hobbies, where I can write from time to time,
      like a blog, to practice new languages.
    </div>
  </div>
  <br>
  <br>
</div>
