<!-- Studies and skills -->
<div id="hobbies">
  <br>
  <h1 class="centrado title">
    <strong>Warhammers</strong>
  </h1>
  <br>
  <div style="font-size: 18px">
  Since I was a kid I started collecting warhammers with my young brother after visiting a 'games workshop' near our house.
  I barely play though, just painted a lot of them until I grow older and didn't have time for it. Recently I started again with
  other 3 friends to collect warhammer40k, so I will upload here photos of the miniatures we paint and the games we play.


  <!--
  <div class="col-lg-4">
    <span class="hobbytitle"> Warhammers </span><br>
    <a rel="noopener" [routerLink]= "['/hobby/hobby6']" [routerLinkActive]="['menuitemelementselected']">
      <img class="image fit" src="assets/images/hobby_warhammers.jpg" alt=""/>
    </a>
  </div>-->
</div>
