<div (window:resize)="onResize()" class="row mainpage h-100" *ngIf="!isMobile">
  <div class="col-md-9 maincontent">
      <cabecera></cabecera>
      <section id="main" class="wrapper">
        <ng-container *ngTemplateOutlet="routeroutlet">
        </ng-container>
      </section>
  </div>
  <div id="menu" class="col-md-3 mainmenu menuwrapper">
    <mainmenu></mainmenu>
  </div>
</div>

<div (window:resize)="onResize()" class="row mainpage h-100" *ngIf="isMobile">
  <div class="col-xs-12 maincontent">
    <div id="menu" class="mainmenu">
      <mainmenumovil></mainmenumovil>
    </div>
    <section id="main" class="maincontentmobile">
      <ng-container *ngTemplateOutlet="routeroutlet">
      </ng-container>
    </section>
  </div>
</div>

<ng-template #routeroutlet>
  <router-outlet></router-outlet>
</ng-template>
