<!-- Studies and skills -->
<div id="hobbies">
  <br>
  <h1 class="centrado title">
    <strong>Piano</strong>
  </h1>
  <br>
  <div style="font-size: 18px">
  When I was a kid my parents made me join the music's school, where I learnt to play the piano. I stopped playing about 10 years ago,
  but now from time to time I enjoy to try to play sheets from my favourite series and movies. I will point out here where I got the
  sheets so I don't forget where to find more, along with any other resources that I used.


  <!--
  <div class="col-lg-4">
    <span class="hobbytitle"> Warhammers </span><br>
    <a rel="noopener" [routerLink]= "['/hobby/hobby6']" [routerLinkActive]="['menuitemelementselected']">
      <img class="image fit" src="assets/images/hobby_warhammers.jpg" alt=""/>
    </a>
  </div>-->
</div>
