<!-- Studies and skills -->
<div id="hobbies">
  <br>
  <h1 class="centrado title">
    <strong>Baduk</strong>
  </h1>
  <br>
  <div style="font-size: 18px">
  I know baduk since I was 18 years old, when a friend introduced me to the game. After a couple of months playing I suspected
  that this game was going to be one of my favourite activities in my life. And indeed it is, I usually invest 2 or 3 hours a day
  in baduk related activities, such as doing problems, watch baduk tv, youtube videos and playing games.
  <br><br>
  Below there will be a list of articles about baduk news, personal experience, problems or whatever comes to my mind.


  <!--
  <div class="col-lg-4">
    <span class="hobbytitle"> Warhammers </span><br>
    <a rel="noopener" [routerLink]= "['/hobby/hobby6']" [routerLinkActive]="['menuitemelementselected']">
      <img class="image fit" src="assets/images/hobby_warhammers.jpg" alt=""/>
    </a>
  </div>-->
</div>
