<!-- Studies and skills -->
<div id="hobbies">
  <br>
  <h1 class="centrado title">
    <strong>Baduk</strong>
  </h1>
  <br>
  <div style="font-size: 18px">
  I know baduk since I was 18 years old, when a friend introduced me to the game. After a couple of months playing I suspected
  that this game was going to be one of my favourite activities in my life. And indeed it is, I usually invest 2 or 3 hours a day
  in baduk related activities, such as doing problems, watch baduk tv, youtube videos and playing games.
  <br><br>
  Below there will be a list of articles about baduk news, personal experience, problems or whatever comes to my mind.
  
  <br><br><br><br>

  <!-- 1. Baduk problems -->
  <div (click)="onChangeVisibility(1)">
    <h3 class="hobbysection">
      <strong>1. Baduk problems</strong>
    </h3>
  </div>

  <br>
  
  <div *ngIf="articlesVisibility[0]">
    From time to time I wonder what is the best way to improve at Go. There are lot of activities that, combined, can make one to improve
    in this game. Actually, there is a common factor in all of them: to solve go problems.

    <br><br>

    I have never found a strong player who said that it is not important/essential to solve go problems. In fact, most of them said it is
    the most important thing along with playing games. That is why I decided to write down all of this: to make a list of the resources online,
    and to discuss the best way to solve problems.

    <br><br>

    <ul>
      <li>
        <a href="https://tsumego.tasuki.org/" target="_blank"><strong>https://tsumego.tasuki.org</strong></a>
      </li>
      You can download 6 collections of life and death go problems here. I found it really usefull, so I actually printed them and made
      a book out of this 6 pdf's.
      <li>
        <a href="https://online-go.com/puzzles" target="_blank"><strong>https://online-go.com/puzzles</strong></a>
      </li>
      In this website people can (appart of playing go) create collections of problems and publish out them in order to make it available
      to the rest of users. There are really good collections here, and you can filter them by difficulty, user's score...
      <li>
        <a href="https://online-go.com/puzzles" target="_blank"><strong>https://blacktoplay.com</strong></a>
      </li>
      I found this place recently, I liked the simple design and the problems where interesting.
    </ul>

    <br><br>

    Finally, I will write about how one should solve this problems. There are various methods and probably, the best is the one you feel
    most confortable with. There are various ways, these are my favourites:
    <ol>
      <li>
        To read out all the variations, until been sure what is the correct move. Don't look the solutions for the problems, if you truly 
        read out all the variations, there is no need, and if you couldn't find it.. then leave it for another day!
      </li>
      <li>
        Try to solve the problem for a maximum time of 5 / 10 minutes and you have to pick a move, since it is like a real game. After that,
        you look at the solution and check if your move was good or bad. 
      </li>
      <li>
        Solve easy problems quick. This problems should be easy enough to be solved without looking solutions (waste of time) and in less than
        a minute. They shouldn't be too easy though, you have to make use of your brain.
      </li>
      <li>
        A funny and surprisingly alternative and efficient way of study... Directly look for the solutions! 
      </li>
    </ol>

    <br>

    The idea behind this is to improve your reading skills and your intuition. The method number 1 is really effective at increasing your
    reading skills, and number 4 will improve your intuition, while numbers 2 and 3 mix both skills. As I said, I recomend you to try this 
    methods and use the one you like more.


  </div>
  <!-- 1 ENDS -->

  <!--
  <div class="col-lg-4">
    <span class="hobbytitle"> Warhammers </span><br>
    <a rel="noopener" [routerLink]= "['/hobby/hobby6']" [routerLinkActive]="['menuitemelementselected']">
      <img class="image fit" src="assets/images/hobby_warhammers.jpg" alt=""/>
    </a>
  </div>-->
</div>
