<!-- Studies and skills -->
<div id="hobbies">
  <br>
  <h1 class="centrado title">
    <strong>Hobbies</strong>
  </h1>
  <br>
  <div style="font-size: 18px">
    <p> I like to do a lot of things in my free time, not only related to work. Here there is a brief summary
    of my main hobbies, you can click on the images for further information. </p>
  </div>

  <!-- Imagenes -->
  <div class="row">
    <div class="col-lg-4">
      <span class="hobbytitle"> Baduk </span><br>
      <a rel="noopener" [routerLink]= "['/hobby/hobby1']" [routerLinkActive]="['menuitemelementselected']">
        <img class="image fit" src="assets/images/hobby_baduk.jpg" alt=""/>
      </a>
    </div>
    <div class="col-lg-4">
      <span class="hobbytitle"> Sports </span><br>
      <a rel="noopener" [routerLink]= "['/hobby/hobby2']" [routerLinkActive]="['menuitemelementselected']">
        <img class="image fit" src="assets/images/hobby_sports.jpg" alt=""/>
      </a>
    </div>
    <div class="col-lg-4">
      <span class="hobbytitle"> Piano </span><br>
      <a rel="noopener" [routerLink]= "['/hobby/hobby3']" [routerLinkActive]="['menuitemelementselected']">
        <img class="image fit" src="assets/images/hobby_piano.jpg" alt=""/>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <span class="hobbytitle"> Videogames </span><br>
      <a rel="noopener" [routerLink]= "['/hobby/hobby4']" [routerLinkActive]="['menuitemelementselected']">
        <img class="image fit" src="assets/images/hobby_videogames.jpg" alt=""/>
      </a>
    </div>
    <div class="col-lg-4">
      <span class="hobbytitle"> Languages </span><br>
      <a rel="noopener" [routerLink]= "['/hobby/hobby5']" [routerLinkActive]="['menuitemelementselected']">
        <img class="image fit" src="assets/images/hobby_languages.jpg" alt=""/>
      </a>
    </div>
    <div class="col-lg-4">
      <span class="hobbytitle"> Warhammers </span><br>
      <a rel="noopener" [routerLink]= "['/hobby/hobby6']" [routerLinkActive]="['menuitemelementselected']">
        <img class="image fit" src="assets/images/hobby_warhammers.jpg" alt=""/>
      </a>
    </div>
  </div>
</div>
