<!-- Studies and skills -->
<div id="hobbies">
  <br>
  <h1 class="centrado title">
    <strong>Hobbies</strong>
  </h1>
  <br>
  <div style="font-size: 18px">
    I like to do a lot of things in my free time, not only related to work.

    <br><br>

    I will try to add new content to this sections from time to time, both to practice my writting english skills and for pleasure.
    You can click on the images below to know more.

  </div>
  <br><br>
  <!-- Imagenes -->
  <div class="row">
    <div class="col-lg-4">
      <span class="hobbytitle"> Baduk </span><br>
      <a rel="noopener" [routerLink]= "['/hobbies/go']" [routerLinkActive]="['menuitemelementselected']">
        <img class="image fit" src="assets/images/hobby_baduk.jpg" alt=""/>
      </a>
    </div>
    <div class="col-lg-4">
      <span class="hobbytitle"> Videogames </span><br>
      <a rel="noopener" [routerLink]= "['/hobbies/videojuegos']" [routerLinkActive]="['menuitemelementselected']">
        <img class="image fit" src="assets/images/hobby_videogames.jpg" alt=""/>
      </a>
    </div>
    <div class="col-lg-4">
      <span class="hobbytitle"> Warhammers </span><br>
      <a rel="noopener" [routerLink]= "['/hobbies/warhammer']" [routerLinkActive]="['menuitemelementselected']">
        <img class="image fit" src="assets/images/hobby_warhammers.jpg" alt=""/>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <span class="hobbytitle"> Languages </span><br>
      <a rel="noopener" [routerLink]= "['/hobbies/languages']" [routerLinkActive]="['menuitemelementselected']">
        <img class="image fit" src="assets/images/hobby_languages.jpg" alt=""/>
      </a>
    </div>
    <div class="col-lg-4">
      <span class="hobbytitle"> Piano </span><br>
      <a rel="noopener" [routerLink]= "['/hobbies/piano']" [routerLinkActive]="['menuitemelementselected']">
        <img class="image fit" src="assets/images/hobby_piano.jpg" alt=""/>
      </a>
    </div>
    <div class="col-lg-4">
      <span class="hobbytitle"> Sports </span><br>
      <a rel="noopener" [routerLink]= "['/hobbies/sports']" [routerLinkActive]="['menuitemelementselected']">
        <img class="image fit" src="assets/images/hobby_sports.jpg" alt=""/>
      </a>
    </div>
  </div>
</div>
