<!-- Studies and skills -->
<div id="certifications">
  <br>
  <h1 class="centrado title">
    <strong>Certifications</strong>
  </h1>
  <br>
  <div style="font-size: 18px">
    <p> Here you can find all the certifications I achieved during my career. </p>
  </div>
  <br>
  <br>

  <!-- Certifications -->
  <h4 class="experiencetitle">Certifications</h4>


  <br>
  <!-- Certificacion de mi titulo de Ingeniero -->
  <div class="row" id="engineer_certification">
    <div class="col-lg-8">
      <a href="assets/certifications/EngineerCertificate.pdf" class="course" target="_blank"> Computer Engineer Certificate </a>
    </div>
    <div class="col-lg-4 date">
      Spring 2017
    </div>
  </div>
  <!-- Certificación Java Spring Udemy -->
  <div class="row" id="javaspring_certification">
    <div class="col-lg-8">
      <a href="assets/certifications/UdemySpringCertificate.pdf" class="course" target="_blank">Java Spring Certificate</a>
    </div>
    <div class="col-lg-4 date">
      Spring 2020
    </div>
  </div>
  <!-- Certificación SQL Server Phillip Burton -->
  <div class="row" id="sqlserverudemyphillip_certification">
    <div class="col-lg-8">
      <a href="assets/certifications/SqlPhillipBurtonCertificate.pdf" class="course" target="_blank">SQL Server 70 461, 761</a>
    </div>
    <div class="col-lg-4 date">
      Winter 2020
    </div>
  </div>
  <!-- Certificación SQL Server Udemy Course -->
  <div class="row" id="sqlserverudemy_certification">
    <div class="col-lg-8">
      <a href="assets/certifications/SqlUdemyCourseCertificate.pdf" class="course" target="_blank">A 18 Hour SQL/SQL Server 2014/Visual Studio 2017 Certificate</a>
    </div>
    <div class="col-lg-4 date">
      Spring 2018
    </div>
  </div>
  <!-- Certificacion de Angular 6 -->
  <div class="row" id="angular_certification">
    <div class="col-lg-8">
      <a href="assets/certifications/AngularCertificate.pdf" class="course" target="_blank"> Angular 6 Certificate </a>
    </div>
    <div class="col-lg-4 date">
      Fall 2018
    </div>
  </div>
  <!-- Certificacion Java EE -->
  <div class="row" id="uipath_certification">
    <div class="col-lg-8">
      <a href="assets/certifications/JAVAEEViewnextCertificate.pdf" class="course" target="_blank">JavaEE Viewnext Certificate</a>
    </div>
    <div class="col-lg-4 date">
      Summer 2017
    </div>
  </div>
  <!-- Certificacion de curso de Android Viewnext -->
  <div class="row" id="android_viewnext_certification">
    <div class="col-lg-8">
      <a href="assets/certifications/AndroidViewnextCertificate.pdf" class="course" target="_blank"> Android Viewnext Certificate </a>
    </div>
    <div class="col-lg-4 date">
      Summer 2017
    </div>
  </div>
  <!-- Certificacion Android Samsung -->
  <div class="row" id="samsung_android_certification">
    <div class="col-lg-8">
      <a href="assets/certifications/SamsungAndroidCertificate.pdf" class="course" target="_blank">Samsung Android Certificate</a>
    </div>
    <div class="col-lg-4 date">
      Fall 2016
    </div>
  </div>
  <!-- Certificacion Blueprints Unreal Engine -->
  <div class="row" id="blueprintsUE_certification">
    <div class="col-lg-8">
      <a href="assets/certifications/UnrealBlueprintCertificate.pdf" class="course" target="_blank">Unreal Engine Blueprints Certificate</a>
    </div>
    <div class="col-lg-4 date">
      Fall 2019
    </div>
  </div>
  <!--Certificacion B2 Inglés -->
  <div class="row" id="cambridge_certification">
    <div class="col-lg-8">
      <a href="assets/certifications/EnglishCambridgeCertificate.pdf" class="course" target="_blank">Cambridge English B2 Certificate</a>
    </div>
    <div class="col-lg-4 date">
      Summer 2017
    </div>
  </div>
  <!--Certificacion 88 TOEFL -->
  <div class="row" id="toefl_certification">
    <div class="col-lg-8">
      <a href="assets/certifications/TOEFLEnglishCertificate.pdf" class="course" target="_blank">TOEFL English Certificate</a>
    </div>
    <div class="col-lg-4 date">
      Fall 2016
    </div>
  </div>
  <!-- Certificacion A1 Coreano -->
  <div class="row" id="a1korean_certification">
    <div class="col-lg-8">
      <a href="assets/certifications/KoreanA1Certificate.pdf" class="course" target="_blank">Korean A1 Certificate</a>
    </div>
    <div class="col-lg-4 date">
      2014 - 2015
    </div>
  </div>
  <!-- Certificación UIPath -->
  <div class="row" id="javaEE_certification">
    <div class="col-lg-8">
      <a href="assets/certifications/UIPATHCertificate.pdf" class="course" target="_blank">UIPATH RPA Developer Foundation Certificate</a>
    </div>
    <div class="col-lg-4 date">
      Summer 2017
    </div>
  </div>
  <!-- Certificación Robotics -->
  <div class="row" id="robotics_certification">
    <div class="col-lg-8">
      <a href="assets/certifications/RoboticsSchoolCertificate.pdf" class="course" target="_blank">Viewnext Robotics Course Certificate (RPA)</a>
    </div>
    <div class="col-lg-4 date">
      May 2017
    </div>
  </div>
</div>
