<!-- Experience -->
<div id="experience">
  <br>
  <h1 class="centrado title">
    <strong>Experience</strong>
  </h1>
  <br>
  <div style="font-size: 18px">
    <p> I have experience mainly as a Software developer. Here you can find a list of the jobs I have done related to computer engineering.</p>
  </div>
  <br>

  <!-- OLINET EXP -->
  <div class="row">
    <div class="col-lg-4">
      <img id="olinetimagen" class="experienceimage" src="assets/olinet_logo.jpg"/>
    </div>
    <div class="col-lg-8">
      <h4 class="experiencetitle">Software developer at Olinet. </h4>
      <span class="date">October 2018 - February 2020</span>
      <br>
      <br>
      Before I started working in Olinet, I thought of myself as a junior developer. Now after my experience here I consider myself
      a senior developer, as I worked a lot in tons of different projects and learnt a lot about many things, such as how to deal with
      clients, accounting, how the sales process works and of course how to develop good quality ERP software.
      <br>
      I became an expert in managing databases, as I had to deal with data everyday: solving incongruences, restoring lost data,
      generating new data and tables...
      I mainly developed ERP software with Delphi and Visual Studio (C#) , although I also worked in others different projects, such as
      automatic sending emails, TPVs, automatic traductions...
      <br>
      I consider my experience here has been very enrichment, and I only hope that I can learn as much as I learnt here in my next job.
    </div>
  </div>
  <br>
  <br>
  <!-- VIEWNEXT EXP -->
  <div class="row">
    <div class="col-lg-4">
      <img id="vnimagen" class="experienceimage" src="assets/vn_logo.jpg"/>
    </div>
    <div class="col-lg-8">
      <h4 class="experiencetitle">Software developer at Viewnext. </h4>
      <span class="date">June 2017 - November 2017</span>
      <br>
      <br>
      Viewnext is an IBM subsidiary and has several centers all along Spain.
      My job here was to develop RPA software, robots to automatize processes in a computer,
      while forming myself in others fields such as blockchain or javaEE.
      The company provides his employers with free courses so I learnt a lot thanks to it both in the company and in my free time.
    </div>
  </div>
  <br>
  <br>
  <!-- NOVAE EXP -->
  <div class="row">
    <div class="col-lg-4">
      <img id="novaeexp" class="experienceimage" src="assets/novae.jpg"/>
    </div>
    <div class="col-lg-8">
      <h4 class="experiencetitle"> Web developer at Autoescuelas Novae. </h4>
      <span class="date">June 2016 - December 2016</span>
      <br>
      <br>
      Autoescuelas Novae is a driving school which has schools along the Malaga province, in Spain.
      They had an old, ugly and out to date website, so they hired me to design and install a new one,
      and to maintain it until the end of the year.
    </div>
  </div>

  <br>
  <br>





</div>
