<!-- Experience -->
<div id="experience">
  <br>
  <h1 class="centrado title">
    <strong>Experience</strong>
  </h1>
  <br>
  <div style="font-size: 18px">
    <p> I have experience mainly as a fullstack developer. Here you can find a list of the jobs I have done related to computer engineering.</p>
  </div>
  <br>

  <!-- THE WORKSHOP EXP -->
  <div class="row">
    <div class="col-lg-4">
      <img id="theworkshopimg" class="experienceimage" src="assets/theworkshop.jpg">
    </div>
    <div class="col-lg-8">
      <h4 class="experiencetitle"> Software developer at The Workshop - Inventors of play. </h4>
      <span class="date">January 2021 - Now</span>
      <br>
      <br>
      I had really bad luck, quiting my current job weeks before the pandemic started. It was difficult to find a job after that, with so few companies recruiting. I 
      even have an offer from other companies and after accepting it and waiting for some time, they told me the job had been cancelled and therefore the offer. But then
      The Workshop found my profile and were interested in me, even though my experience didn´t match their needs. Also the interview date was really bad for me and they
      made an effort to change the date. The interview was great, I felt in good company from the very beginning and the feeling was to have a real, sincere conversation,
      without politics or half trues and this kind of things you encounter in interviews. I had a very good feeling after the interview and they too! Since they told 
      me a couple of weeks later that they really liked me and was going to be hired.
      <br><br>
      For me, The Workshop is the perfect place to work. Their "commandments" and way of being fits mine, they look out for very good people, who oustand in their jobs,
      but also nice and supportive, so that all of us help each other and form a solid group, without bad feelings, jealously, greed and this kind of bad habits. My team
      is great and I have learnt <strong> A LOT </strong>. I even like playing poker and this kind of money games, which is their business, so I feel like in home. That
      makes me do my best effort to stay here, do what I can to improve and help my teammates and grow together. I hope to stay here for a long time.
    </div>
  </div>
  <br>
  <br>
  <!-- OLINET EXP -->
  <div class="row">
    <div class="col-lg-4">
      <img id="olinetimagen" class="experienceimage" src="assets/olinet_logo.jpg"/>
    </div>
    <div class="col-lg-8">
      <h4 class="experiencetitle">Software developer at Olinet. </h4>
      <span class="date">October 2018 - February 2020</span>
      <br>
      <br>
      Before I started working in Olinet, I thought of myself as a junior developer. Now after my experience here I consider myself
      not a junio developer anymore, as I worked a lot in tons of different projects and learnt a lot about many things, such as how to deal with
      clients, accounting, how the sales process works and of course how to develop high quality software.
      <br>
      I became an expert in managing databases with SQL Server, as I had to deal with data everyday: solving incongruences, restoring lost data,
      generating new data and tables...
      I mainly developed ERP software with Delphi and Visual Studio (C#) , although I also worked in others different projects, such as
      automatization of sending emails, TPVs, automatization of traductions...
      <br>
      I consider my experience here has been very enrichment, and I am happy to have worked with so many nice colleagues.
    </div>
  </div>
  <br>
  <br>
  <!-- VIEWNEXT EXP -->
  <div class="row">
    <div class="col-lg-4">
      <img id="vnimagen" class="experienceimage" src="assets/vn_logo.jpg"/>
    </div>
    <div class="col-lg-8">
      <h4 class="experiencetitle">Software developer at Viewnext. </h4>
      <span class="date">June 2017 - November 2017</span>
      <br>
      <br>
      Viewnext is an IBM subsidiary and has several centers all along Spain.
      My job here was to develop RPA software, to automatize processes in a computer with Blueprism and other technologies,
      while forming myself in others fields such as blockchain or javaEE.
      The company provides his employers with courses so I learnt a lot thanks to it both in the company and in my free time.
      <br><br>
      Also I had here excelent teammates, some of them I can call friends today, and because of that I can say that my first work experience was quite enjoyable.
      I will always be grateful for the opportunity that Viewnext gave to all of us (we all entered at the same time, to form the RPA department).
    </div>
  </div>
  <br>
  <br>
</div>
