<!-- Studies and skills -->
<div id="hobbies">
  <br>
  <h1 class="centrado title">
    <strong>Videogames</strong>
  </h1>
  <br>
  <div style="font-size: 18px">
  I will never forget when I saw the first videogame in my life. It was pokemon Blue, and another boy older than me was playing. He
  had a Blastoise lvl 60 something and nothing more. It was nearly 20 years ago, when I was 8.
  <br><br>
  After this day I started to ask my parents about that game, that machine (Game Boy) and finally I got tetris (lul). Five years later
  I got my first computer and now I am a computer engineer and enjoy playing, developing and discusing about videogames, and that is
  what I will do in this section. I will write about the games I play and give my opinion.


  <!--
  <div class="col-lg-4">
    <span class="hobbytitle"> Warhammers </span><br>
    <a rel="noopener" [routerLink]= "['/hobby/hobby6']" [routerLinkActive]="['menuitemelementselected']">
      <img class="image fit" src="assets/images/hobby_warhammers.jpg" alt=""/>
    </a>
  </div>-->
</div>
