<!-- Studies and skills -->
<div id="hobbies">
  <br>
  <h1 class="centrado title">
    <strong>Languages</strong>
  </h1>
  <br>
  <div style="font-size: 18px">

  I decided a few years ago that I will start learning a new language every 5 years, and for now I kept my promise.

  <br><br>

  I will point out here all the resources I found that were useful to me, along with some notes about curious things I found
  when learning this languages.

  <!--
  <div class="col-lg-4">
    <span class="hobbytitle"> Warhammers </span><br>
    <a rel="noopener" [routerLink]= "['/hobby/hobby6']" [routerLinkActive]="['menuitemelementselected']">
      <img class="image fit" src="assets/images/hobby_warhammers.jpg" alt=""/>
    </a>
  </div>-->
</div>
